@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

nav ul li a {
  @apply text-[18px] mb-1 space-y-2 space-x-3 flex items-center  text-gray-500 font-semibold py-2 hover:bg-gray-100  px-4 rounded-md;
}

nav ul li a .icon {
  @apply text-[28px] text-gray-600;
}

.scrollbarDesign::-webkit-scrollbar {
  width: 8px;
}

.scrollbarDesign::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

.horizontal_scroll_container {
  scroll-snap-type:y mandatory;
  /* scroll-behavior: smooth; */
  overflow-x: auto;
  white-space: nowrap;
}

.scroll_page {
  scroll-snap-align: start;
}
